.breadcrumb
  &-list
    display: flex
    align-items: center
    padding: 18px 0px
    margin: 0
    list-style: none
    &__link
      text-decoration: none
      color: inherit
      transition: 0.5
      &:hover
        color: $footer-text-color
        transition: 0.2s
    &__item
      font-size: 10px
      line-height: 13px
      &:not(:last-child)
        &::after
          content: '/'
          margin-right: 4px
