.footer
  background-color: $dark
  color: $light
  padding: 108px 25px 46px
  &-container
    // display: grid
    // grid-template-columns: repeat(4, minmax(min-content, 1fr))
    // grid-gap: 20px
    // grid-auto-rows: minmax(40px, min-content)
  &__section
    display: flex
    // justify-content: space-between
    margin-bottom: 93px
  &__column
    display: flex
    flex-direction: column
    justify-content: space-between
    max-height: 218px
  &__communication
    display: flex
  &__image
    padding-top: 31px
    margin-right: 119px
  &__logo
    width: 160px
    height: 169px
    align-self: stretch
  &__additional
    margin-right: 109px
    margin-bottom: 19px
  &__categories
    margin-right: 130px
  &__social
    &-network
      flex-wrap: wrap
      // flex-basis: 100%

  &__contact
    &-detail
      max-width: 493px
      margin-right: 84px
  &__feedback
    max-width: 539px
  &__form
    display: flex
    justify-content: space-between
    flex-wrap: wrap
  &__submit
    width: 100%
    display: flex
    justify-content: space-between
    align-items: center
  &__email
    text-decoration: none
    color: $footer-text-color
    transition: 0.5s
    &:hover
      color: $light
      transition: 0.2s
  &__phone
    display: inline-block
    text-decoration: none
    color: $footer-text-color
    transition: 0.5s
    margin-bottom: 8px
    &:hover
      color: $light
      transition: 0.2s
  &__title
    font-weight: bold
    font-size: 18px
    line-height: 23px
    text-transform: uppercase
    margin-top: 0
    margin-bottom: 26px
    &--message
      margin-bottom: 30px
  &__ul
    padding: 0
    margin: 0
    list-style: none
  &__li
    font-weight: normal
    font-size: 14px
    line-height: 160%
  &__item
    display: flex
    align-items: flex-start
    font-weight: normal
    font-size: 14px
    line-height: 100%
    color: $footer-text-color
    &--li
      margin-bottom: 30px
  &__icon
    &-wrapper
      min-width: 40px
  &__link
    text-decoration: none
    color: $footer-text_color
    margin-bottom: 6px
    &::after
      content: ''
      display: block
      width: 0%
      background-color: $bottom-text-color
      height: 1px
      transition: 0.6s
    &:hover
      &::after
        width: 100%
  &__text
    font-weight: normal
    font-size: 14px
    line-height: 160%
    margin-bottom: 22px
    color: $footer-text-color
  &__area
    flex-basis: 100%
    font-size: 12px
    line-height: 15px
  &__social
    &__title
      font-weight: bold
      font-size: 18px
      line-height: 23px
      text-transform: uppercase
      margin-top: 0
      margin-bottom: 0
    &-network
      display: flex
      align-items: start
      justify-content: space-between
      width: 293px
    &-link
      margin-left: 12px
      text-decoration: none
    &-icon
      transition: 0.5s
      &:hover
        filter: brightness(150%)
  &__icon
    &-wrapper
      min-width: 40px
  &__input
    width: 100%
    font-size: 12px
    line-height: 15px
    &__group
      margin-bottom: 15px
      flex-basis: 48%
  &__info
    font-weight: bold
    font-size: 12px
    line-height: 15px
    color: $bottom-text-color
  &__form
    flex-wrap: wrap
  &-bottom
    display: flex
    padding-top: 93px
    flex-direction: row-reverse
    &__link
      color: $light
      text-decoration: none
      font-weight: normal
      font-size: 12px
      line-height: 15px
      margin-right: 13px
      order: 1
      flex-basis: 50%
      transition: 0.5s
      &:hover
        filter: brightness(50%)
        transition: 0.2s
    &__info
      order: 1
      flex-basis: 51%
  &__location
    text-decoration: none
    color: $footer-text-color
    transition: 0.5s
    &:hover
      color: $light
      transition: 0.2s
